.btnup {
  margin-top: 20px;
}

.tab {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  padding: .5em;
  border: 1px solid rgba(185, 142, 255, 0.27);
  cursor: pointer;
  /*background-color: rgba(100, 153, 221, 0.66);*/
  background-color: #f4f4f4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

li.active {
  /*background-color: #f4f4f4;*/
  background-color: rgb(50, 122, 183);
  color: #ffffff;
  border-bottom: 1px solid #dddddd;
}
.contentabsout {
  /*width: 90%;*/
  /*margin: 0 auto;*/
}
.contentabs {
  background-color: #F4F4F4;
  padding: 2em;
  margin-inside: 2em;
}
.tabulation{
  position: relative;
  width: 90%;
  margin: 2em auto;
}

.onglet {
  position: relative;
  margin-left: 0px;
  padding-left: 0px;
}

.onglet_n {
  background: #bbbbbb;
  border-bottom: 1px solid black;
}

.boxinline{
  width: 25em;
  display: flex;
  /*flex-direction: row;*/
  flex: 2 2 400px;
}

.onglet_y {
  background: #eeeeee;
  border-bottom: 0px solid black;
  padding-bottom: 4px;
}

.contenu {
  background-color: #EEEEEE;
  border: 1px solid black;
  margin-top: -1px;
  padding: 5px;
}
.extensions{
  padding: 7px;
  margin: 7px;
  border: #555555;
  border-radius: 3px;
  background-color: #9e9e9e;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -10px
}

h1 {
  margin: 0px;
  padding: 0px;
}

.tbl {
  display: block;
}

.tbl-line {
  display: inline-flex;
  flex: 2 2 6em;
}

.tbl-ele {
  flex: 10em;
}
.buttonaddcountry{
  padding-right: 2em;
  padding-left: 2em;
}
.thtable{
  display: flex;
}
.thtable-ele{
  display: flex;
  flex: 1em;
}
input.thtable-ele{
  align-items: center;
}
.thtable-btn{
  display: flex;

}
.tbl-dir {
  width: 60em;
}
.formaddext{
  position: absolute;
}
.btnsaveext{
  margin-top: 1em;
  /*position: relative;*/
  /*top: 20px;*/
}
.boxupdatetitles{
  padding: 1.5em 10% 1.5em 0.3em;
  margin: 0 auto;
  border: 1px solid gray;
  background-color: #bbbbbb;
  border-radius: 5px;
}
.btnupdatealltitles{
  float: right;

}
/*
Waiting wheel
https://loading.io/css/
*/
.lds-spinner {
  size: 10px;
  color: black;
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
}

.lds-spinner div {
  transform-origin: 34px 34px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #000000;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #aaaaaa;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.4s;
  animation-name: animatetop;
  animation-duration: 1.4s
}
.modal-container{
  width: 100%; /* Full width */
  height: 100%;
}
div.modal-container{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 34px;

}
ul.modal-container{
  list-style: none;
  vert-align: middle;
  margin: .1em;
  padding: .1em;
}
li.modal-element{
  border-radius: 4px;
  color: #000;
  display: inline;
  width: fit-content;
  height: 34px;
  top: 0px;
  padding: .3em;
  /*position: absolute;*/
  border: 1px solid rgba(41, 41, 41, 0.86);
  background-color: rgba(166, 152, 159, 0.75);
}

/* Info-bulle With 'class="infobulle" aria-label="text" '*/
.infobulle {
  position: relative;  /* les .infobulle deviennent référents */
  cursor: help;
}
.infobulle:hover::after,
.infobulle:focus::after {
  content: attr(aria-label);
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-15%);
  z-index: 1;
  white-space: nowrap;
}
.basetoolpipg{
    position: relative;
}
.valueFreqency:hover{
  cursor: copy;
}
.tooltipgshow{
  visibility: visible;
  opacity: 0.95;
}
.tooltipghide{
  visibility: hidden;
  opacity: 0;
}
.tooltipg {
  display: inline-block;
  position: absolute;
  color: #0d0d0d;
  width: 150px;
  background-color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;
  z-index: 10;
  bottom: -80px;
  left: 66px;
  margin-left: -60px;
  transition: opacity 0.3s;
  box-shadow: 0 11px 15px rgba(27, 31, 35, 0.25);
}
.tooltipg::before {
  z-index: 10;
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width:5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
.tooltiphshow{
  visibility: visible;
  opacity: 0.95;
}
.tooltiphhide{
  visibility: hidden;
  opacity: 0;
}
.baseh{
  position: relative;
}
.inputsizetooltiph{
  width: 7em;
  margin: 0 auto;
  /*margin-right: 1em;*/
}
.tooltiph {
  display: inline-block;
  position: absolute;
  color: #0d0d0d;
  width: 9.5em;
  height: 150px;
  background-color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;
  z-index: 10;
  bottom: -120px;
  left: 78px;
  margin-left: -60px;
  transition: opacity 0.3s;
  box-shadow: 0 11px 15px rgba(27, 31, 35, 0.25);
}
.tooltiph::before {
  z-index: 10;
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width:5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
.btnext{

}
.buttonTooltip{
  width: 40%;
  height: 25px;
  color: #555;
}
.datainput{
  width: 80%;
  color: #555;
}
.export{
  display: inline-flex;
}
.exportbutton{

  width: 140px;
}
.exportselect{
  width: 370px;
}
