<div class="container-fluid">
  <div *ngIf="paths">
    <div class="col-12">
      <div class="panel panel-success">
        <div class="panel-heading heightMedium">
          <div class="alignLeft">Liste des Paths en DB</div>
          <div class="alignRight">
            <form (ngSubmit)="onSubmitKeyword()">
              <input class="form-control sizeMedium marginMedium" [(ngModel)]="keyword" name="keyword" required>
              <button type="submit" class="btn btn-warning marginMedium">Submit</button>
              <input class="marginSmall" type="checkbox" ng-checked="allInfo" name="allInfo">
              <label class="">allInfo</label>
            </form>
          </div>
        </div>
        <div class="panel-body">
        <span *ngFor="let p of paths">
          <button (click)="onGetOnePath(p)" class="btn btn-success marginXSmall">{{p}}</button>
        </span>
        </div>
      </div>
    </div>
    <div *ngIf="listVideowithName" class="col-12">
      <div class="panel panel-info">
        <div class="panel-heading">Liste details</div>
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th>File</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of listVideowithName">
              <td [hidden]="(ligneVideoHidden==true && idSelctioned!=(i.id))"
                  (click)="getAllInfo(i.id)" style="cursor: pointer">{{getUrlFile(i)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="infoVideo" class="col-12">
    <div class="panel panel-warning">
      <div class="panel-heading">Details</div>
      <div class="panel-body">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Proprietes</th>
            <th>Valeurs</th>
          </tr>
          <tr>
            <th>INFO</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of infoVideo.info | keyvalue">
            <td width=15%>{{item.key}}</td>
            <td *ngIf="item.key==='Duration'">{{inHMS(item.value)}}</td>
            <td *ngIf="item.key==='FileSize'">{{inGMK2(item.value)}}</td>
            <td *ngIf="item.key!='Duration' && item.key!='FileSize'">{{item.value}}</td>
          </tr>
          </tbody>

          <thead>
          <tr>
            <th>VIDEO</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let vi of infoVideo.video">
            <tr *ngFor="let item of vi | keyvalue">
              <td width=15%>{{item.key}}</td>
              <td>{{item.value}}</td>
            </tr>
          </ng-container>
          </tbody>

          <!--<thead>
          <tr>
            <th>AUDIO</th>
            <th></th>
          </tr>
          </thead>-->
          <tbody>
          <ng-container *ngFor="let au of infoVideo.audio; index as i">
            <th>AUDIO Track : {{i + 1}}</th>
            <tr *ngFor="let item of au | keyvalue">
              <td width=15%>{{item.key}}</td>
              <td>{{item.value}}</td>
            </tr>
          </ng-container>
          </tbody>

          <!--<thead>
          <tr>
            <th>TEXT</th>
            <th></th>
          </tr>
          </thead>-->
          <tbody>
          <ng-container *ngFor="let te of infoVideo.text; index as i">
            <th>TEXT Track : {{i + 1}}</th>
            <tr *ngFor="let item of te | keyvalue">
              <td width=15%>{{item.key}}</td>
              <td>{{item.value}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

