<div><section class="sectionone">
  <aside class="asideleft elesectionone">
    <div class="filters">
      <div class="filter">
        <h1>Filter</h1>
      </div>

      <div class="elementsfilter">
        <div class="elementfilter">
          filterone</div>
        <div class="elementfilter">
          filtertwo</div>
        <div class="elementfilter elementisactive">
          filter3</div>
        <div class="elementfilter elementisnotactive">
          filterfour</div>
        <div class="elementfilter">
          filter 5</div>
        <div class="elementfilter">
          filter 6</div>
        <div class="elementfilter">
          filter 7</div>
      </div>
    </div>
  </aside>
  <article class="elesectionone dimarticle">

    <table class="table table-striped tblvideo">
      <thead>
      <tr>
        <th class="colbegin eletbl colimgleft">t1</th>
        <th class="colmidle eletbl">t2</th>
        <th></th>
        <th class="colend eletbl fullpeliculecell">t3</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="colimgleft">
          <div class="postertoleft">
            <img alt="Poster" height="150" width="101" src="https://m.media-amazon.com/images/M/MV5BNDkxODhlNmItYjhiMC00ZjNmLWE2YmMtOTQ3NmQxM2YzOGFiXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX101_CR0,0,101,150_.jpg">
          </div>                    <th>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae mollitia praesentium quas delectus eos, ratione impedit sapiente, sunt consectetur vel nesciunt illum eius labore earum ducimus sed quisquam, reprehenderit ex.
        Magni, eveniet asperioditndae facere nihil temporibus dolorum impedit illum possimus quas consequuntur veritatis sed ullam eum quibusdam, vel blanditiis? Numquam possimus earum officia fuga fugiat repudiandae distinctio placeat ducimus.
        Facere, laboriosam optio. Molestiae aperiam nam mollitia soluta corporis nemo ipsa ex, dicta quas modi id labore quod provident fugit aut omnis quam, laborum laudantium illo consectetur aspernatur saepe perferendis?
      </th>
        <th class="fullpeliculecell peliculeCellLeft2"></th>
        <th class="fullpeliculecell peliculeCell barbottom">
          <!-- -->
          <!--<div class="peliculesvg-container">
            <img class="peliculesvg" src="src/assets/img/bar.svg" alt="">
          </div>-->
          <div class="postertoright">
            <img class="imgpostertoright" alt="Poster" height="150" width="101" src="https://m.media-amazon.com/images/M/MV5BNDkxODhlNmItYjhiMC00ZjNmLWE2YmMtOTQ3NmQxM2YzOGFiXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX101_CR0,0,101,150_.jpg">
          </div>
          <div class="videoinfo peliculetxt vinf">
                            <span data-toggle="tooltip" title="option-click -> info in console"
                                  class="glyphicon glyphicon-info-sign"></span>
            Lorem ipsum
          </div>

          <div class="peliculetxt">

                            <span data-toggle="tooltip" title="option-click -> info in console"
                                  class="glyphicon glyphicon-copyright-mark"></span>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon glyphicon-volume-up"></span>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon glyphicon glyphicon-subtitles"></span>
            WQHD <br>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon-copyright-mark"></span>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon glyphicon-volume-up"></span>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon glyphicon glyphicon-subtitles"></span>
            WQHD <br>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon-copyright-mark"></span>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon glyphicon-volume-up"></span>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon glyphicon glyphicon-subtitles"></span>
            WQHD <br>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon-copyright-mark"></span>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon glyphicon-volume-up"></span>
            <span data-toggle="tooltip" title="option-click -> info in console"
                  class="glyphicon glyphicon glyphicon glyphicon-subtitles"></span>
            WQHD <br>
          </div>
          <!--<div class="peliculesvgend-container">
              <img class="peliculesvgend" src="./bar.svg" alt="">
          </div>
          https://m.media-amazon.com/images/M/MV5BYjM5YTQ0ZGYtMWExZi00MTFmLTg0YjUtZDcyMGNiYzE5MmNmL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX101_CR0,0,101,150_.jpg

      -->
        </th>
        <th class="fullpeliculecell peliculeCellLeft2"></th>
      </tr>
      <tr>
        <th class="colimgleft">
          <div class="postertoleft">
            <img alt="Poster" height="150" width="101" src="https://m.media-amazon.com/images/M/MV5BYjM5YTQ0ZGYtMWExZi00MTFmLTg0YjUtZDcyMGNiYzE5MmNmL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX101_CR0,0,101,150_.jpg">
          </div>                    <th>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae mollitia praesentium quas delectus eos, ratione impedit sapiente, sunt consectetur vel nesciunt illum eius labore earum ducimus sed quisquam, reprehenderit ex.
        Magni, eveniet asperioditndae facere nihil temporibus dolorum impedit illum possimus quas consequuntur veritatis sed ullam eum quibusdam, vel blanditiis? Numquam possimus earum officia fuga fugiat repudiandae distinctio placeat ducimus.
        Facere, laboriosam optio. Molestiae aperiam nam mollitia soluta corporis nemo ipsa ex, dicta quas modi id labore quod provident fugit aut omnis quam, laborum laudantium illo consectetur aspernatur saepe perferendis?
      </th>
        <th class="fullpeliculecell peliculeCellLeft2"></th>
        <th  class="fullpeliculecell peliculeCell barbottom">
          <!-- -->
          <!--<div class="peliculesvg-container">
            <img class="peliculesvg" src="src/assets/img/bar.svg" alt="">
          </div>-->
          <div class="postertoright">
            <img class="imgpostertoright" alt="Poster" height="150" width="101" src="https://m.media-amazon.com/images/M/MV5BYjM5YTQ0ZGYtMWExZi00MTFmLTg0YjUtZDcyMGNiYzE5MmNmL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX101_CR0,0,101,150_.jpg">
          </div>
          <div class="videoinfo peliculetxt vinf">
                            <span data-toggle="tooltip" title="option-click -> info in console"
                                  class="glyphicon glyphicon-info-sign"></span>
            Lorem ipsum
          </div>

          <div class="peliculetxt">
            <ul class="listsupp supp">
              <li>
                                    <span data-toggle="tooltip" title="option-click -> info in console"
                                          class="glyphicon glyphicon-copyright-mark"></span>
                <span data-toggle="tooltip" title="option-click -> info in console"
                      class="glyphicon glyphicon glyphicon-volume-up"></span>
                <span data-toggle="tooltip" title="option-click -> info in console"
                      class="glyphicon glyphicon glyphicon glyphicon-subtitles"></span>
                3820
              </li>
              <li>
                                    <span data-toggle="tooltip" title="option-click -> info in console"
                                          class="glyphicon glyphicon-copyright-mark"></span>
                <span data-toggle="tooltip" title="option-click -> info in console"
                      class="glyphicon glyphicon glyphicon-volume-up"></span>
                <span data-toggle="tooltip" title="option-click -> info in console"
                      class="glyphicon glyphicon glyphicon glyphicon-subtitles"></span>
                1280
              </li>
            </ul>
          </div>
        </th>
        <th class="fullpeliculecell peliculeCellLeft2"></th>
      </tr>
      </tbody>
    </table>
  </article>
</section>
<a href="/videoid" class="scroll-top on">
  <span class="glyphicon glyphicon-arrow-up icon-up"></span>
</a>
</div>
