

<div class="panel panel-primary margeleft">
  <div class="panel-heading">Toolbar</div>
  <div class="panel-body">
    <ul class="list-group">
<!--      <li class="list-group-item" [ngClass]="currentRoute=='video'?'active':''" (click)="onVideo()">Video</li>-->
<!--      <li class="list-group-item"  [ngClass]="currentRoute=='export'?'active':''" (click)="onExport()">Export</li>-->
<!--      <li class="list-group-item"  [ngClass]="currentRoute=='managmentfiles'?'active':''" (click)="onManagment()">Managment</li>-->
<!--      <li class="list-group-item"  [ngClass]="currentRoute=='admin'?'active':''" (click)="onAdmin()">Admin</li>-->
<!--      <li class="list-group-item"  [ngClass]="currentRoute=='config'?'active':''" (click)="onConfig()">Path</li>-->
    </ul>
  </div>
</div>
