<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MediaVideo</a>
    </div>
    <ul class="nav navbar-nav">
<!--      <li class="active"><a href="/">Home</a></li>-->
      <li class="dropdown" *ngIf="isAuthenticated()">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="list-group-item" [ngClass]="currentRoute=='video'?'active':''" *ngIf="isAdmin()" (click)="onVideo()" >Video</li>
          <li class="list-group-item" [ngClass]="currentRoute=='video'?'active':''" *ngIf="isUser()" (click)="onVideo()" >Video</li>
          <li class="list-group-item" [ngClass]="currentRoute=='export'?'active':''" *ngIf="isAdmin()" (click)="onExport()" >Export</li>
          <li class="list-group-item" [ngClass]="currentRoute=='managmentfiles'?'active':''" *ngIf="isAdmin()" (click)="onManagment()" >Managment</li>
          <li class="list-group-item" [ngClass]="currentRoute=='admin'?'active':''" *ngIf="isAdmin()" (click)="onAdmin()" >Admin</li>
          <li class="list-group-item" [ngClass]="currentRoute=='video'?'active':''" *ngIf="isUser()"><a href="#">Films</a></li>
        </ul>
      </li>
    </ul>
    <!--    <form #f="ngForm" (ngSubmit)="onSubmitKeywordGeneral(f.value)" class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" ngModel name="keywordGeneral" placeholder="Search Title" required>
          </div>
          <button style="margin-left: 1em;" type="submit" class="btn btn-default">Submit</button>
          <div class="chb">
          </div>
        </form>-->
    <div class="form">
<!--            <button (click)="test()" class="form-inline">Test</button>-->
      <div class="form-inline">
        <div class="form-inline" *ngIf="isConnected">
          <span class="glyphicon glyphicon-user icon" (click)="test()" style="color: green;"></span>
          <a class="btn" (click)="logout()">To Logout</a>
        </div>
        <div *ngIf="!isConnected" class="form-inline">
          <form #f="ngForm" (ngSubmit)="onLogin(f.value)" class="form-inline">
            <label class="form-inline">UserName</label>
            <input type="text" name="login" ngModel class="form-inline">
            <label class="form-inline">Password</label>
            <input type="password" name="password" ngModel class="form-inline">
            <button type="submit" class="btn btn-default">OK</button>
          </form>
        </div>
        <span (click)="test()" *ngIf="!isConnected" class="glyphicon glyphicon-user icon"
              style="color: darkred;"></span>
      </div>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-2">
<!--    <app-toolbar></app-toolbar>-->
  </div>
  <div>
<!--  <div class="col-md-10">-->
    <router-outlet>
    </router-outlet>
  </div>
</div>

