<!--<div class="container">
  <div *ngIf="paths">
    <div id="bloc1">
      <div class="panel panel-success">
        <div class="panel-heading">Liste des Paths en DB LOCAL</div>
        <div class="panel-body">
        <ul class="list-group" *ngFor="let p of pathsOrder">
          <li class="list-group-item list-group-item-success">{{p.nameExport}}
            <span class="badge badge-primary badge-pill">{{(p.videoids).length}}</span>
            <span class="badge badge-primary badge-pill"
                  [ngClass]="p.active?'act':'nact'" (click)="changeState(p)">Active</span>
          </li>
        </ul>
        </div>
      </div>
    </div>
    <div id="bloc2">
      <div class="panel panel-warning">
        <div class="panel-heading">Liste des Paths en
          <span *ngIf="!pathsOrderRemote">DB DISTANT</span>
          <span class="glyphicon glyphicon-remove toRight" (click)="removeAllPathsReceive()" *ngIf="pathsOrderRemote" >{{url}}</span>
          <div>
          <form *ngIf="!pathsOrderRemote" (ngSubmit)="onSubmitURL()">
            <div><br><label>URL</label>
              <input type="text" class="form-control" [(ngModel)]="myurl" name="myurl" required>
            </div><br>
            <button type="submit" class="btn btn-warning">Submit</button>
          </form>
        </div></div>
        <div class="panel-body">
          <div class="form-group">
            <div *ngIf="pathsOrderRemote">
              <ul class="list-group" *ngFor="let p of pathsOrderRemote">
                <li class="list-group-item list-group-item-warning">
                  <span class="glyphicon glyphicon-download padright" (click)="askDl(p)"></span>{{p.nameExport}}
                  <span class="badge badge-primary badge-pill">{{(p.videoids).length}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
